html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

header {
  border-top: 0.5em solid black;
  border-left: 0.5em solid black;
  border-right: 0.5em solid black;
  border-bottom: none;
  max-width: 500px;
  margin: 10% auto 0 auto;
  padding: 1em;
  font-size: 2em;
}

main {
  border: 0.5em solid black;
  max-width: 500px;
  margin: 0 auto 0 auto;
  padding: 1em;
  font-size: 2em;
}

h1 {
  margin: 0;
}

p {
  padding: 0.5em;
}

.search {
  border: 0.5em solid black;
  padding: 1em;
  display: flex;
}

input {
  width: 100%;
  border: 0.5em solid black;
}

select {
  border: 0.5em solid black;
}

.option-none {
  display: none;
}

.main-weather {
  border: 0.5em solid black;
  margin-top: 0.5em;
  padding: 1em;
}

.description {
  border: 0.5em solid black;
}

section {
  border: 0.5em solid black;
  padding: 1em;
  display: flex;
}

.icon {
  border: 0.5em solid black;
  flex: 1;
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 4em;
  margin: auto;
}

.temperature {
  border: 0.5em solid black;
  flex: 1;
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location {
  border: 0.5em solid black;
}

.date {
  border: 0.5em solid black;
}
